
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */
h1 {
  
}

.title{
  background-color: #7a9e9f;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav{
  background-color: #7a9e9f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services{
  text-align: center;
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.img-container{
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.image{
  padding: 10px;
  position: relative;
  transition: ease-in 0.2s;
  opacity: 1;
  height: 200px;
  width: 200px
}

.image:hover{
  opacity: 0;
}

.contact{
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.contact #Address{
  margin-right: 100px;
}

.booking{
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 150px;
}

.box .text{
  position: relative;
  z-index: -1;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -150px; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 60%; /* Set the width of the positioned div */
}